/* CSS Document */
html,body,div,span,h1,h2,h3,h4,h5,h6,
p,a,font,img,b,u,i,ol,ul,li,fieldset,form {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
body {
font-size: 62.5%;
font-family: tahoma, arial, sans-serif;
line-height: 2em;
background: #0e0e0e url(images/body_bg.jpg) no-repeat left top;
}
.clear
{
	clear:both;
}
ol,ul {list-style: none;} /*Bỏ đi mấy cái list style của ol và ul*/
 
a {
text-decoration: none; /*Bỏ hiệu ứng gạch chân*/
}
 
a img {
border: none; /*Bỏ border img nếu dùng ảnh làm link*/
}
 
img {
vertical-align: center;
}
 
:focus {
outline:0;
}
.uppercase {
text-transform: uppercase;
}
 
.bold {
font-weight: bold;
}

@font-face {
    font-family:Roboto-bold;
    src:url(../fonts/Roboto-Bold.ttf);
}
@font-face {
    font-family:Roboto-thin;
    src:url(../fonts/Roboto-Thin.ttf);
}
@font-face {
    font-family:Roboto-light;
    src:url(../fonts/Roboto-Light.ttf);
}
@font-face {
    font-family:Roboto-regular;
    src:url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family:Roboto-light-italic;
    src:url(../fonts/Roboto-LightItalic.ttf);
}
@font-face {
    font-family:Roboto-medium;
    src:url(../fonts/Roboto-Medium.ttf);
}
@font-face {
    font-family:Roboto-italic;
    src:url(../fonts/Roboto-Italic.ttf);
}
.bold
{
	font-family:Roboto-bold;
}
.light
{
	font-family:Roboto-light;
}
.thin
{
	font-family:Roboto-thin;
}
.medium
{
	font-family:Roboto-medium;
}
.regular
{
	font-family:Roboto-regular;
}
.light-italic
{
	font-family:Roboto-light-italic;
}
.center
{
	
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_head
{
	background:#691b1d;
}
.padge_head_1
{
	padding:25px 0;
	background:#691b1d;
	
}
.logo
{
	
	width:309px;
}
.hotline
{
	width:309px;
	
}


.menu
{
	
	font-size:18px;
}
.menu li a:hover
{
	color:yellow;
}
.imformation{
	background:#691b1d;
	padding:30px 70px;
	overflow:hidden;
}
.imformation p
{
	
	font-size:25px;
	color:#fff568;
	margin-bottom:0px;
	
	
}
.imformation hr
{
	
	float:left;
	width:100px;
	height:2px;
	color:#fff568;
	background-color:#fff568;
}
.details
{
	margin-top:50px;
	width:100%;
}
.details h5{
	font-size:20px;
	padding:10px 15px;
	background-color:#e1e1e1;
	color:#691b1d;
	margin:0;
}
.details p{
	
	padding:10px 15px;
	border-bottom:1px solid #691b1d;
	background-color:#FFF;
	color:#691b1d;
	font-size:18px;
}
.branch
{
	margin:50px auto;
}
.production
{
	padding:50px 50px;
	overflow:hidden;
}
.production h1
{
	color:#691b1d;
	text-align:center;
}
.production p
{
	color:#691b1d;
	font-size:18px;
	padding:0px;
	margin:0;
	text-align:center;
}
.comment
{
	padding:30px 150px;
	background-color:#691b1d;
}
.comment h1 
{
	color:#fff568;
}
.comment p
{
	font-size:16px;
	color:#fff;
	text-align:center;
}

.questions
{
	background-color:#ebebeb;
	padding:50px 50px 100px 50px;
	overflow:hidden;
}
.questions .question
{
	border-radius:5%;;
	background-color:#fff;
	position:relative;
	padding:60px 25px;
	min-height:400px;
	float:left;
	width:47%;
	
	
	
	
	
}
.questions .answer
{
	border-radius:5%;
	background-color:#fff;
	position:relative;
	padding:60px 25px;
	min-height:400px;
	float:right;
	width:47%;
	

	
}

.question h4
{
	color:#691b1d;
	margin-top:50px;
	margin-bottom:30px;
}
.question p
{
	font-size:16px;
	color:#959595;
	margin-bottom:50px;
}
.question img{
	position:absolute;
	bottom:-15px;
	right:70px;
}
.answer h4
{
	color:#691b1d;
	margin-top:50px;
	margin-bottom:30px;
}
.answer p
{
	font-size:16px;
	color:#959595;
	margin-bottom:50px;
}
.answer img{
	position:absolute;
	bottom:-15px;
	right:70px;
}
.member
{
	
	position:absolute;
	right:0px;
	bottom:-80px;
	
}
.member img
{
	width:80px;
	height:80px;
	float:right;
	
}
.member .info_menber
{
	text-align:right;
	margin-right:170px;
	
}
.info_menber p
{
	margin:0px;
	color:#691b1d;
}

.footer
{
	color:#fff;
	overflow:hidden;
	padding:20px 40px;
	background-color:#691b1d;
}
.footer .about h3
{
	background-color:#5c1315;
	width:100%;
	padding:10px;
	margin-bottom:30px;
}
.footer .about p{
	margin:0;
	padding:0;
}
.mang_xa_hoi a
{
	margin-top:30px;
	padding:12px;
	border:1px solid #fff;
	border-radius:10px 0 10px 0;
	margin-left:10px;
	margin-left:10px;
	color:#fff;
}
.mang_xa_hoi a:hover
{
	background-color:#fff;
	color:#691b1d;
}

.about-1 img
{
	float:left;
	width:100px;
	margin-right:10px;
	margin-bottom:30px;
	
}
.about form input[type="text"]
{
	width:100%;
	height:40px;
	background:none;
	margin:10px;
	border:0.3px solid #CCC;
	border-radius:5px;
}
.about form textarea
{
	width:100%;
	height:100px;
	background:none;
	margin:10px;
	border:0.3px solid #CCC;
	border-radius:5px;
}
.about form input[type="submit"]
{
	background:none;
	width:30%;
	height:50px;
	border:0.3px solid #CCC;
	border-radius:5px;
	float:right;
}
.copy_right p
{
	
	background-color:#5c1315;
	margin:0;
	padding:30px;
	font-size:18px;
	color:#fff;
}

.logo_knowledge
{
	background-color:#691b1d;
	padding:20px 0;
}
.menu_knowledge
{
	overflow:hidden;
	background-color:#872123;
}
.menu_knowledge ul
{
	height:100%;
	margin:0;
}
.menu_knowledge li
{
	float:left;
	display:block;
	padding:16px;
	border-right:1px solid rgba(255, 255, 255, 0.14);
}
.menu_knowledge a{
	color:#fff;
	font-size:17px;
	
}
.menu_knowledge li:hover 
{
	background-color:#691b1d;
}
.menu_knowledge li:hover a
{
	text-decoration:none;
	color:#fff568;
}

.content_knowledge
{
	overflow:hidden;
	background-color:#691b1d;
	padding:30px 20px;
}
.left_knowledge
{
	float:left;
	background-color:#fff;
	
	
	
}
.left_content
{
	padding:15px;
}
.left_content h2
{
	margin:30px 0;
	font-size:27px;
}
.left_content p
{
	margin-bottom:30px;
	color:#999;
}
.left_content h4
{
	margin-bottom:30px;
}
.left_content hr
{
	height:1px;
	border:1px solid #CCC;
}
.right_content
{
	overflow:hidden;
	float:right;
}
.search_range
{
	background-color:#fff;
	padding:15px 10px;
	
}
.search_range form
{
	position:relative;
}
.search_range form input[type="text"]
{
	
	background-color:#f5f5f5;
	padding:8px;
	border:1px solid #ccc;
	font-size:16px;
	width:100%;
	display:inline;
}
.search_range form input[type="submit"]
{
	position:absolute;
	top:0;
	right:0;
	width:14%;
	background-color:#872123;
	text-align:center;
	padding:13px;
	border:none;
	color:#fff;
}
.article_range
{
	margin-top:50px;
	overflow:hidden;
	padding:15px 10px;
	background-color:#fff;
}
.article_range p
{
	font-size:16px;
	color:#999;
}
.article_range p a
{
	color:#999;
}
.article_range p a:hover
{
	text-decoration:none;
	color:#C03;
}
.footer_knowledge
{
	background-color:#872123;
}
.footer_knowledge hr
{
	opacity:0.4;
}
.footer_knowledge p
{
	color:#fff;
	padding:30px;
	font-size:16px;
	opacity:0.9;
}
/* ==========================================================================   Responsive CSS Landscape Tablet   ========================================================================== */
@media only screen and (min-width: 960px) and (max-width: 1240px) {


.search_range form input[type="submit"]
{
	
	width:25%;
	
}
	
	
	
} /* ==========================================================================   Responsive CSS Portrait Tablet   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {



.search_range form input[type="text"]
{
	
	background-color:#f5f5f5;
	padding:5px;
	border:1px solid #ccc;
	font-size:14px;
	width:100%;
	display:inline;
}
.search_range form input[type="submit"]
{
	position:absolute;
	top:0;
	right:0;
	width:25%;
	background-color:#872123;
	text-align:center;
	padding:9px;
	border:none;
	color:#fff;
}	

	
} /* ==========================================================================   Responsive CSS Landscape Mobile   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
.production p
{
	
	font-size:16px;
	
	
}
.production h1
{
	font-size:20px;
}

.questions
{
	background-color:#ebebeb;
	padding:50px 50px 100px 50px;
	overflow:hidden;
}
.questions .question
{
	border-radius:5%;;
	background-color:#fff;
	position:relative;
	padding:20px 15px;
	min-height:400px;
	float:left;
	width:47%;
	
	
	
	
	
}
.questions .answer
{
	border-radius:5%;
	background-color:#fff;
	position:relative;
	padding:20px 15px;
	min-height:400px;
	float:right;
	width:47%;
	

	
}

.question h4
{
	color:#691b1d;
	margin-top:50px;
	margin-bottom:30px;
	font-size:16px;
}
.question p
{
	font-size:14px;
	color:#959595;
	margin-bottom:50px;
}
.question img{
	position:absolute;
	bottom:-15px;
	right:70px;
}
.answer h4
{
	font-size:16px;
	color:#691b1d;
	margin-top:50px;
	margin-bottom:30px;
}
.answer p
{
	font-size:14px;
	color:#959595;
	margin-bottom:50px;
}
.answer img{
	position:absolute;
	bottom:-15px;
	right:70px;
}
.member
{
	
	position:absolute;
	right:0px;
	bottom:-80px;
	
	
}
.member img
{
	width:80px;
	height:80px;
	float:right;
	
}
.member .info_menber
{
	text-align:right;
	margin-right:170px;
	
}
.info_menber p
{
	margin:0px;
	color:#691b1d;
	font-size:9px;
}

.menu_knowledge
{
	overflow:hidden;
	background-color:#872123;
}
.menu_knowledge ul
{
	height:100%;
	margin:0;
}
.menu_knowledge li
{
	float:left;
	display:block;
	padding:8px;
	border-right:1px solid rgba(255, 255, 255, 0.14);
}
.menu_knowledge a{
	color:#fff;
	font-size:11px;
	
}
.menu_knowledge li:hover 
{
	background-color:#691b1d;
}
.menu_knowledge li:hover a
{
	text-decoration:none;
	color:#fff568;
}


.right_content
{
	margin-top:50px;
	padding:0;
	
}
.search_range
{
	background-color:#fff;
	
	
}
.search_range form
{
	position:relative;
}

.search_range form input[type="text"]
{
	
	background-color:#f5f5f5;
	padding:8px;
	border:1px solid #ccc;
	font-size:16px;
	width:100%;
	display:inline;
}
.search_range form input[type="submit"]
{
	position:absolute;
	top:0;
	right:0;
	width:14%;
	background-color:#872123;
	text-align:center;
	padding:13px;
	border:none;
	color:#fff;
}
} /* ==========================================================================   Responsive CSS Portrait Mobile   ========================================================================== */
@media only screen and (min-width: 100px) and (max-width: 479px) {

.production p
{
	
	font-size:14px;
	
	
}
.production h1
{
	font-size:18px;
}	

.questions
{
	background-color:#ebebeb;
	padding:50px 50px 100px 50px;
	overflow:hidden;
}
.questions .question
{
	border-radius:5%;;
	background-color:#fff;
	position:relative;
	padding:20px 15px;
	min-height:500px;
	float:left;
	width:47%;
	
	
	
	
	
}
.questions .answer
{
	border-radius:5%;
	background-color:#fff;
	position:relative;
	padding:20px 15px;
	min-height:500px;
	float:right;
	width:47%;
	

	
}

.question h4
{
	color:#691b1d;
	margin-top:50px;
	margin-bottom:30px;
	font-size:14px;
}
.question p
{
	font-size:12px;
	color:#959595;
	margin-bottom:50px;
}
.question img{
	position:absolute;
	bottom:-15px;
	right:70px;
}
.answer h4
{
	font-size:14px;
	color:#691b1d;
	margin-top:50px;
	margin-bottom:30px;
}
.answer p
{
	font-size:12px;
	color:#959595;
	margin-bottom:50px;
}
.answer img{
	position:absolute;
	bottom:-15px;
	right:70px;
}
.member
{
	
	position:absolute;
	right:0px;
	bottom:-80px;
	
	
}
.member img
{
	width:80px;
	height:80px;
	float:right;
	
}
.member .info_menber
{
	text-align:right;
	margin-right:170px;
	
}
.info_menber p
{
	margin:0px;
	color:#691b1d;
	font-size:9px;
	opacity:0;
}

.menu_knowledge
{
	overflow:hidden;
	background-color:#872123;
}
.menu_knowledge ul
{
	height:100%;
	margin:0;
}
.menu_knowledge li
{
	width:50%;
	height:70px;
	
	float:left;
	display:block;
	padding:15px;
	border:1px solid rgba(255, 255, 255, 0.14);
}
.menu_knowledge a{
	color:#fff;
	font-size:16px;
	
}
.menu_knowledge li:hover 
{
	background-color:#691b1d;
}
.menu_knowledge li:hover a
{
	text-decoration:none;
	color:#fff568;
}


.right_content
{
	margin-top:50px;
	padding:0;
	
}
.search_range
{
	background-color:#fff;
	
	
}
.search_range form
{
	position:relative;
}

.search_range form input[type="text"]
{
	
	background-color:#f5f5f5;
	padding:5px;
	border:1px solid #ccc;
	font-size:14px;
	width:100%;
	display:inline;
}
.search_range form input[type="submit"]
{
	position:absolute;
	top:0;
	right:0;
	width:25%;
	background-color:#872123;
	text-align:center;
	padding:9px;
	border:none;
	color:#fff;
}
}